<div class="{% unless section.settings.full_width %}container container--reading-width{% endunless %}" data-cc-animate>
  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'logo' -%}
        <div
          class="bg logo-with-bg relative"
          style="
            {% if block.settings.bg != blank %}
                background-image: url({{ block.settings.bg | image_url }});
            {% endif %}
             background-color: {{ block.settings.bgc }};
          "
        >
          {% if block.settings.logo != blank %}
            <div class="logo-container">
              <img
                class="page-logo"
                src="{{ block.settings.logo | image_url }}"
                width="{{ block.settings.logo.width }}"
                height="{{ block.settings.logo.height }}"
                loading="lazy"
                alt="{{ block.settings.logo.alt }}"
              >
            </div>
          {% endif %}
          {% if block.settings.image != blank %}
            <div class="logo-main-image">
              <img
                src="{{ block.settings.image | image_url }}"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
                loading="lazy"
                alt="{{ block.settings.image.alt }}"
              >
            </div>
          {% endif %}
        </div>
      {%- when 'bg-text' -%}
        <div
          class="bg bg-with-text relative"
          style="
            {% if block.settings.bg != blank %}
                background-image: url({{ block.settings.bg | image_url }});
            {% endif %}
          "
        >
          <div class="bg-text-container relative">
            <div class="bg-text">
              <div class="align-items-center flex flex-column justify-content-center relative text-center">
                {% if block.settings.subtitle %}
                  <div class="bg-subtitle">
                    {{ block.settings.subtitle }}
                  </div>
                {% endif %}
                {% if block.settings.title %}
                  <div class="bg-title-image">
                    <img
                      src="{{ block.settings.title | image_url }}"
                      alt="{{ block.settings.title.alt }}"
                      width="{{ block.settings.title.width }}"
                      height="{{ block.settings.title.height }}"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if block.settings.richtext %}
                  <div class="bg-richtext">
                    {{ block.settings.richtext }}
                  </div>
                {% endif %}
              </div>
              <div class="bg-image-row-text">
                <div class="align-items-center flex flex-column-reverse flex-md-row flex-wrap justify-content-between relative">
                  {% comment %}
                    {% if block.settings.content %}
                      <div class="bg-text-richtext">
                        {{ block.settings.content }}
                      </div>
                    {% endif %}
                  {% endcomment %}
                  {% if block.settings.image2 != blank %}
                    <div class="bg-text-image2 w-half text-left mobile-full">
                      <img
                        src="{{ block.settings.image2 | image_url }}"
                        alt="{{ block.settings.image2.alt }}"
                        width="{{ block.settings.image2.width }}"
                        height="{{ block.settings.image2.height }}"
                        loading="lazy"
                      >
                    </div>
                  {% endif %}
                  {% if block.settings.image != blank %}
                    <div class="bg-text-image w-half text-right mobile-full">
                      <img
                        src="{{ block.settings.image | image_url }}"
                        alt="{{ block.settings.image.alt }}"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        loading="lazy"
                      >
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {%- when 'image-row' -%}
        <div
          class="bg image-row relative"
          style="
            {% if block.settings.bg != blank %}
                background-image: url({{ block.settings.bg | image_url }});
            {% endif %}
             background-color: {{ block.settings.bgc }};
          "
        >
          <div class="image-text-container relative">
            <div class="row-image">
              <div class="align-items-end flex justify-content-between relative">
                {% if block.settings.image != blank %}
                  <div class="image-text-image1 text-left w-half">
                    <img
                      src="{{ block.settings.image | image_url }}"
                      alt="{{ block.settings.image.alt }}"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if block.settings.image2 != blank %}
                  <div class="image-text-image2 w-half">
                    <img
                      src="{{ block.settings.image2 | image_url }}"
                      alt="{{ block.settings.image2.alt }}"
                      width="{{ block.settings.image2.width }}"
                      height="{{ block.settings.image2.height }}"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {%- when 'video' -%}
        <div
          class="bg video-row relative"
          style="
            {% if block.settings.bg != blank %}
                background-image: url({{ block.settings.bg | image_url }});
            {% endif %}
             background-color: {{ block.settings.bgc }};
          "
        >
          <div class="image-text-container relative">
            <div class="video-image">
              <div class="align-items-center flex flex-column-reverse flex-md-row gap-100 justify-content-between relative">
                {% if block.settings.image != blank %}
                  <div class="video-image1 text-left w-half mobile-full">
                    <img
                      src="{{ block.settings.image | image_url }}"
                      alt="{{ block.settings.image.alt }}"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if block.settings.video != blank %}
                  <div class="video-image2 w-half mobile-full">
                    {% for source in block.settings.video.sources %}
                      {%- if source.url contains '.mp4' -%}
                        <video
                          pplaysinline=""
                          muted=""
                          loop=""
                          autoplay=""
                          preload=""
                          controls="controls"
                          width="100%"
                          src="{{ source.url }}"
                          poster="{{ block.settings.video.preview_image | image_url }}"
                          type="video/mp4"
                        ></video>
                      {%- endif -%}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {%- when 'image-text' -%}
        <div
          class="bg text-with-image relative"
          style="
            {% if block.settings.bg != blank %}
                background-image: url({{ block.settings.bg | image_url }});
            {% endif %}
             background-color: {{ block.settings.bgc }};
          "
        >
          <div class="image-text-container relative">
            <div class="image-with-text">
              <div class="align-items-center flex justify-content-center relative">
                {% if block.settings.richtext %}
                  <div class="text-richtext">
                    {{ block.settings.richtext }}
                  </div>
                {% endif %}
                {% if block.settings.image != blank %}
                  <div class="text-image">
                    <img
                      src="{{ block.settings.image | image_url }}"
                      alt="{{ block.settings.image.alt }}"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if block.settings.logo != blank %}
                  <div class="image-text-logo">
                    <img
                      src="{{ block.settings.logo | image_url }}"
                      alt="{{ block.settings.logo.alt }}"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {%- when 'line-size' -%}
        <div
          class="bg line-size relative"
          style="
            {% if block.settings.bg != blank %}
                background-image: url({{ block.settings.bg | image_url }});
            {% endif %}
             background-color: {{ block.settings.bgc }};
          "
        >
          <div class="line-size-container relative">
            {% if block.settings.title != blank %}
              <h2 class="line-size-title">
                {{ block.settings.title }}
              </h2>
            {% endif %}
            <div class="buttons">
              {% for i in (1..6) %}
                {%- capture button -%}title{{i}}{%- endcapture -%}
                {% if block.settings[button] %}
                  <a href="#" role="button" aria-label="button" class="line-button">
                    {{ block.settings[button] }}
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      {%- else -%}
    {%- endcase -%}
  {% endfor %}
</div>

{% schema %}
{
  "name": "HERITAGE LUGGAGE",
  "class": "heritage-luggage page-section-spacing--no",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Logo Section",
      "type": "logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "header",
          "content": "Background Settings"
        },
        {
          "type": "image_picker",
          "id": "bg",
          "label": "Background Image"
        },
        {
          "type": "color",
          "id": "bgc",
          "label": "Background Color",
          "info": "If background not present",
          "default": "#E5F2E4"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Image with Text Overlay",
      "limit": 1,
      "type": "bg-text",
      "settings": [
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "image_picker",
          "id": "bg",
          "label": "Background Image"
        },
        {
          "type": "color",
          "id": "bgc",
          "label": "Background Color",
          "info": "If background not present",
          "default": "#E9A893"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "The Heritage Collection"
        },

        {
          "type": "image_picker",
          "id": "title",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Content",
          "default": "<p>The golden age of flying.</p>"
        },
        {
          "type": "header",
          "content": "Image Settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>We design, create and test our Heritage Luggage that'll take you from</p>"
        }
      ]
    },
    {
      "name": "Image Row",
      "limit": 1,
      "type": "image-row",
      "settings": [
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "image_picker",
          "id": "bg",
          "label": "Background Image"
        },
        {
          "type": "color",
          "id": "bgc",
          "label": "Background Color",
          "info": "If background not present",
          "default": "#E5F2E4"
        },
        {
          "type": "header",
          "content": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Video Section",
      "limit": 1,
      "type": "video",
      "settings": [
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "image_picker",
          "id": "bg",
          "label": "Background Image"
        },
        {
          "type": "color",
          "id": "bgc",
          "label": "Background Color",
          "info": "If background not present",
          "default": "#E8DAA4"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    },
    {
      "name": "Text with Image",
      "limit": 1,
      "type": "image-text",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "image_picker",
          "id": "bg",
          "label": "Background Image"
        },
        {
          "type": "color",
          "id": "bgc",
          "label": "Background Color",
          "info": "If background not present",
          "default": "#E8DAA4"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Text"
        }
      ]
    },
    {
      "name": "Lining and Size",
      "limit": 1,
      "type": "line-size",
      "settings": [
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "image_picker",
          "id": "bg",
          "label": "Background Image"
        },
        {
          "type": "color",
          "id": "bgc",
          "label": "Background Color",
          "info": "If background not present",
          "default": "#D44A1F"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Select your lining and size."
        },
        {
          "type": "header",
          "content": "Lining and Size Settings"
        },
        {
          "type": "text",
          "id": "title1",
          "label": "Lining 1",
          "default": "Midnight ink"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "Lining 2",
          "default": "Jungle Nights"
        },
        {
          "type": "text",
          "id": "title3",
          "label": "Lining 3",
          "default": "Flights of Fancy"
        },
        {
          "type": "text",
          "id": "title4",
          "label": "Lining 4",
          "default": "Crossbody"
        },
        {
          "type": "text",
          "id": "title5",
          "label": "Lining 5",
          "default": "Carry-On"
        },
        {
          "type": "text",
          "id": "title6",
          "label": "Lining 6",
          "default": "Check-In"
        }
      ]
    }
  ]
}
{% endschema %}
