{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  <div class="">
    <div class="product-grid-container" id="ProductGridContainer">
      {%- paginate collection.products by section.settings.products_per_page -%}
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection{% if section.settings.filter_type != 'vertical' %} no-page-width{% endif %}">
            <div class="loading-overlay gradient"></div>

            <div
              id="product-grid"
              data-id="{{ section.id }}"
              class="            featured_products_section_tileContent featured_products_section_bottomPadding"
            >
              {% render 'collection-header', collection: collection %}
              <div class="component block-component block_component block_default__Q8qYe featured_products_section_block">
                {% assign items = '' %}
                {% assign item_offset = 0 %}
                {% for item in collection.metafields.custom.collection_settings.value %}
                  {% capture capture_name -%}{{ item.postion.value }}{%- endcapture -%}

                  {% assign items = items | append: capture_name | append: ',' %}

                  {% comment %} <p>{{ capture_name }}: {{ item.postion.value }}</p> {% endcomment %}
                {% endfor %}

                {%- for product in collection.products -%}
                  {% assign currentIndex = forloop.index %}

                  {% if items contains currentIndex %}
                    {% render 'collection-banner', offset: item_offset %}
                    {% assign item_offset = item_offset | plus: 1 %}
                  {% endif %}
                  {% comment %}
                    {% render 'product-card',
                      section: section,
                      card_product: product,
                      show_placeholder: false,
                      index: forloop.index,
                      show_secondary_image: section.settings.show_secondary_image
                    %}
                  {% endcomment %}
                  {%- liquid
                    if settings.prod_thumb_shape == 'portrait-23'
                      assign chosen_aspect_ratio = 0.67
                    elsif settings.prod_thumb_shape == 'portrait-45'
                      assign chosen_aspect_ratio = 0.8
                    elsif settings.prod_thumb_shape == 'square'
                      assign chosen_aspect_ratio = 1.0
                    elsif settings.prod_thumb_shape == 'landscape-54'
                      assign chosen_aspect_ratio = 1.25
                    elsif settings.prod_thumb_shape == 'landscape-32'
                      assign chosen_aspect_ratio = 1.50
                    elsif settings.prod_thumb_shape == 'tallest'
                      assign chosen_aspect_ratio = 99
                      for product in collection.products limit: product_limit
                        if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                          assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                        endif
                      endfor
                    else
                      assign chosen_aspect_ratio = 0
                      for product in collection.products limit: product_limit
                        if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                          assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                        endif
                      endfor
                    endif
                  -%}
                  {% render 'product-block',
                    product: product,
                    collection: collection,
                    custom_aspect_ratio: chosen_aspect_ratio,
                    no_swiping: true
                  %}
                {%- endfor -%}
              </div>
            </div>
            {% comment %}
              {%- if paginate.pages > 1 -%}
                {% render 'pagination', paginate: paginate, anchor: '' %}
              {%- endif -%}
            {% endcomment %}
          </div>
        {%- endif -%}
      {%- endpaginate -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "video",
      "id": "banner",
      "label": "Video",
      "info": "Collection Video"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "Product Pagination"
    },

    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
